{% extends 'base.html' %}
{% load static %}
{% block title %}NextMotion : Cart{% endblock %}
{% block extrahead %}
   <link rel="stylesheet" href="{% static 'css/intlTelInput.css' %}">
   <script src="{% static 'js/intlTelInput-jquery.min.js' %}"></script>
   <script src="{% static 'js/intlTelInput.js' %}"></script>
   <script src="{% static 'js/utils.js' %}"></script>
{% endblock %}
{% block content %}
<div class="header-top">
   <div class="container">
      <div class="row">
         <div class="col-md-4 logo">
            <a href="/"><img src="{% static 'images/marketing_logo1.png' %}"></a>
         </div>
         <div class="col-md-4">
         </div>
         <div class="col-md-4 search_icon">
            <input onkeyup="product_filter()" class="search_input" id="product_search" type="text" placeholder="Chercher..."> 
            <button onclick="product_filter()" class="btn_1" type="button"><i class="fa fa-search"></i></button>
            <div class="search_results" style="display:none">
  
            </div> 
         </div> 	 	
      </div>
   </div>
   <div class="container">
      <nav class="navbar navbar-inverse navigation_bar">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="background-color: black">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span> 
            </button>
         </div>
         <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
               {% for category in products_extra.all_categories %}
                  <li><a class="product_categories" href="/?category={{ category.id }}">{{ category.name }}</a></li>
               {% endfor %}
            </ul>
         </div>
      </nav>
   </div>
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="dropdown">
               <a href="{% url 'nm_marketplace_cart' %}" class="add-to-cart-button"><p class="pan_text"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span class="cart-quantity-badge cart_count_total">{{ count }}</span><b>Procéder au panier<i class="fa fa-angle-double-right" aria-hidden="true"></i></b></p>
               </a>
            </div>
         </div>
      </div>
   </div>
   <!-- <div class="btn-content">
      <button type="button" class="btn btn-success"><i class="fa fa-home" aria-hidden="true"></i><span class="btn_text">GALDERMA</span></button>
   </div> -->
</div>
{% if message %}
{% if message == "success" %}
<div class="container">
<div class="cart_confirmation">
    <img class="cart_success_image" src="{% static 'images/tick-gif.gif' %}"><br>
    Le lien vers le panier a été envoyé avec succès !!!
</div>
</div>
{% else %}
<div class="container">
<div class="cart_confirmation_failed">
    <img class="cart_success_image" src="{% static 'images/wrong.gif' %}"><br>
    Une erreur est survenue lors du traitement de votre demande !!!
</div>
</div>
{% endif %}
{% else %}

{% if products %}
<div class="row">
   <div class="com_text">
      <h3>Récapitulatif de la commande
      </h3>
   </div>
</div>

<div class="tabindex">
    <form method="post">
    {% csrf_token %} 
   <div class="container cart-form-product">
      <div class="row">
         <div class="col-md-12 table_text">
            <div class="table-responsive table_text1">
               <table id="mytable" class="table table-bordred table-striped table_data1">
                  <thead>
                     <th class="cart_data1">Produit</th>
                     <th class="cart_data2">La description</th>
                     <th class="cart_data4">Prix</th>
                     <th class="cart_data5">Quantité</th>
                     <th class="cart_data6"></th>
                     <th class="cart_data7">Total</th>
                  </thead>
                  <tbody>
                     {% for product in products %}
                     <tr>
                        <td class="cart_img">
                           <img src="{{ product.product.product_image }}">
                        </td>
                        <input type="hidden" name="product_id" value="{{ product.product.id }} ">
                        <input type="hidden" name="selling_price" value="{{ product.product.selling_price }} ">
                        <td class="cart_desc">
                           <h6>{{ product.product.product_name }} ({{ product.product.volume }}ml)</h6>
                           <p>{{ product.product.title|safe }}</p>
                        </td>
                        <td>
                           <p class="text_text1">{{ product.product.selling_price |floatformat:1 }} €</p>
                        </td>
                        <td><input readonly id="quantity_box_{{ forloop.counter }}" onchange="totalAmount()" class="quantity_box btn btn_textbtn1" name="quantity" value="{{ product.selected_quantity }}" min="1" max="{{ product.product.quantity }}"><br>   
                           <button  type="button" class="btn btn_textbtn2" onclick="sub_quantity({{ forloop.counter }}, {{ product.product.selling_price }})"><i class="fa fa-minus" aria-hidden="true"></i></button>
                           <button  type="button" class="btn btn_textbtn3" onclick="add_product({{ forloop.counter }}, {{ product.product.selling_price }})"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </td>
                        <td><a class="remove_product" href="{% url 'nm_marketplace_remove_product' product.product.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                        <td>
                           <p id="single_product_total_{{ forloop.counter }}" class="price_t total_amount_product">{{ product.product.product_total }} </p>
                        </td>
                     </tr>
                     {% endfor %}
                     <tr>
                        <td class="text_text2" rowspan="2" colspan="2">
                           <!-- <h4>Bons de réduction</h4> -->
                           <!-- <form action="/action_page.php">
                              <input type="text_search" placeholder="" name="search">
                              <button class="btn_sub" type="submit">Ok</button>
                              </form> -->
                        </td>
                        <td colspan="3">
                           <p class="TTC_p">Total produits:</p>
                        </td>
                        <td colspan="2">
                           <p class="TTC_p1 total_product"></p>
                        </td>
                     </tr>
                     <tr>
                        <td class="text_col" colspan="3">
                           <p class="TTC_p2"><b>Total</b></p>
                        </td>
                        <td colspan="2">
                           <p class="TTC_31 totalAmount"  name="total" value="">{{ total }} €</p>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>

    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 cart_send_form">
                    <h4 class="cart_form_heading">S'il vous plaît remplir les coordonnées du client</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="">Email : </label>
                            <input class="form-control emailinput" type="email" name="email" required placeholder="Email"> 
                        </div>
                        <div class="col-md-4">
                            <label class="">Numéro de portable. : </label><br>
                            <input class="form-control" type="tel" name="phone_number" id="telephone" required>
                        </div>
                        <div class="col-md-4">
                            
                            <button class="btn btn-primary send-button-cart" type="submit">Envoyer le panier</button>
                        </div>
                    </div>
                
                </div>
             </div>
        </div>
    </div>
</form>
</div>
   <!-- <div class="next_button container "></div>
      <button type="button" class="btn btn-success_btn_data_t1">Next</button>
   </div> -->
{% else %}
<div class="container">
   <div class="empty_cart_image">
      <img src="{% static 'images/emptycart.png' %}">
   </div>
   <div class=" col-md-12 voter_data">
      <p>Le panier est vide</p>
   </div>
</div>
{% endif %}
{% endif %}
   <div class="conent_well">
      <div class="container">
         <div class="well well-sm">
            <h5><b class="para_t1">Nouveaux produits</b></h5>
         </div>
         <div class="row">
            {% for product in products_extra.new_products.new_products %}
            <div class="col-md-2 card_cart1">
               <img src="{{ product.product_image }}" alt="">
               <div class="card-body_p">
                  <h5 class="card-title_p">{{ product.product_name }}</h5>
                  <p class="card-text_P">{{ product.volume }}ml</p>
                  <p class="price_rupees">{{ product.selling_price }} €</p>
                  <a><button onclick="addToCartNew({{ product.id }})" class="cart_btn btn_cart_1">Ajouter au chariot</button></a>
               </div>
            </div>
            {% endfor %}
         </div>
      </div>
   </div>
<script>
   var input = document.querySelector("#telephone");
   window.intlTelInput(input, {
     hiddenInput: "full_phone",
   });
   $(document).ready(function(){
     $('.cart-quantity-badge').text({{ count }});
     total_quantity();
     
   });
   
   
   function totalAmount(){
       var selling_price = $('.selling_price');
       var quantity = $('.selected_quantity');
       var count = selling_price.length;
       var total = 0;
       for(i=0;i<count;i++){
           total_amount = parseFloat(selling_price[i].value)*parseFloat(quantity[i].value);
           total += total_amount;
       }
       $('.cart_total').val(total);
   }
   
   function sub_quantity(counter, price){
       var old_value =$('#quantity_box_'+counter).val();
       if (old_value > 1){
           var new_value = (old_value-1);
           var new_total = (new_value*price).toFixed(1);
           $('#quantity_box_'+counter).val(new_value);
           $('#single_product_total_'+counter).text(new_total);
           total_quantity();
       }
   }
   function add_product(counter, price){
       var old_value =$('#quantity_box_'+counter).val();
       var new_value = (parseFloat(old_value)+1);
       var new_total = (parseFloat(new_value*price)).toFixed(1);
       $('#quantity_box_'+counter).val(new_value);
       $('#single_product_total_'+counter).text(new_total);
       total_quantity();
   }
   function total_quantity(){
       var all_quantities =$('.quantity_box');
       var count = all_quantities.length;
       var total=0;
       var totalAmount =0;
       var total_amount=$('.total_amount_product');
       for(i=0;i<count;i++){
           total= total+(parseFloat(all_quantities[i].value));
           totalAmount=totalAmount+(parseFloat(total_amount[i].textContent));
       }
       $('.total_product').text(total);
       $('.totalAmount').text(totalAmount.toFixed(1));
   }
$(document).click(function() {
   $('.search_results').hide();
});
$(".search_input").click(function(e) {
    e.stopPropagation();
    return false;
});

function addToCartNew(id) {
  var product_id = id;
  var quantity = 1;
  data = {'product_id':product_id,'quantity':quantity,'csrfmiddlewaretoken': '{{ csrf_token }}'};
    $.ajax({
      url: '{% url "nm_marketplace_add_to_cart" %}',
      type:'POST',
      data: data,
      success: function(data) {
        if (data['message']=="success"){
         location.reload(); 
          // $("#productToast").toast({delay: 2000});
          // $("#productToast").toast('show');
        }else if(data['message']=="already"){
          // $("#alreadyToast").toast({delay:2000});
          // $("#alreadyToast").toast('show');
          alert("Déjà ajouté")
        }
      }
    });
};

function product_filter(){
    var search_query = $(".search_input").val();
    $('.search_results').hide();
    if (search_query != ""){
        data = {"search_query":search_query,"csrfmiddlewaretoken":"{{ csrf_token }}",
            "current_page":1}
        $.ajax({
            url: '/',
            type: 'POST',
            data: data,                 
            success: function(res){
                if (res.results != ""){
                    $('.search_results').empty();
                    count = res.results.length;
                    for(i=0;i<count;i++){
                        $('.search_results').append('<a class="search_result_links" href="/single_product/'+res.results[i].id+'">'+res.results[i].product_name+'</a>')
                    }
                    $('.search_results').show();
                }else{
                    $('.search_results').empty();
                    $('.search_results').append('<h4 class="empty_single_products">No Products Found</h4>');
                    $('.search_results').show();
                }
            }
        });
    }
}
</script>
{% endblock content %}