{% extends 'base.html' %}
{% load static %}
{% block title %}NextMotion : Payment{% endblock %}
{% block extrahead %}
   <script src="//geodata.solutions/includes/countrystatecity.js"></script>
   <link rel="stylesheet" href="{% static 'css/intlTelInput.css' %}">
   <script src="{% static 'js/intlTelInput-jquery.min.js' %}"></script>
   <script src="{% static 'js/intlTelInput.js' %}"></script>
   <script src="{% static 'js/utils.js' %}"></script>
   <script src="{% static 'js/validation-script.js' %}"></script>
   <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

   <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <style>
  .loader-body {
     top: 0;
  }
  .payment_quantity_change{
     display: none;
  }
  </style>
{% endblock %}
{% block content %}
<div class="container">
   <div class="header-top">
      <!-- <div class="container"> -->
      <div class="row">
         <div class="col-md-4 logo">
            <a href="javascript:;"><img src="{% static 'images/marketing_logo1.png' %}"></a>
         </div>
         <div class="col-md-4">
         </div>
         <div class="col-md-4 search_icon">
            <!-- <input class="search_input" id="product_search" type="text" placeholder="Search..."> 
                 <button onclick="product_filter()" class="btn_1" type="button"><i class="fa fa-search"></i></button>  -->
         </div>
      </div>
      <!-- </div> -->
      <!-- <div class="container">
           <nav class="navbar navbar-inverse navigation_bar">
              <div class="navbar-header">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span> 
                 </button>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                 <ul class="nav navbar-nav">
                    {% for category in categories %}
                    <li><a value="{{ category.name }}" class="product_categories" href="javascript:;">{{ category.name }}</a></li>
                    {% endfor %}
                 </ul>
              </div>
           </nav>
        </div>
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <div class="dropdown">
                    <a href="{% url 'nm_marketplace_cart' %}" class="add-to-cart-button">
                       <p class="pan_text"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span class="cart_count_total">0</span><b>Cart</b></p>
                       <p class="vide_text">(vide)</p>
                    </a>
                 </div>
              </div>
              <div class="btn-content2">
                 <button type="button" class="btn btn-success2"><i class="fa fa-home" aria-hidden="true"></i>
                 <span class="btn_text2"> Votre panier</span></button>
              </div>
           </div>
        </div> -->
      <!-- <div class="btn-content">
           <button type="button" class="btn btn-success"><i class="fa fa-home" aria-hidden="true"></i><span class="btn_text">GALDERMA</span></button>
           </div> -->
   </div>
{% if products %}
   <div class="row">
      <div class="col-md-12 col-sm-12 com_text payment-top">
         <h3>Détails de la commande
         </h3>
      </div>
   </div>
   {% endif %}
</div>
{% if status %}
<div class="container">
   <div class="row">
      <div class="already_paid_section">
         <h3>Le paiement contre cette commande a déjà été reçu.</h3>
         <h4>Votre commande vous sera bientôt livrée.</h4>
      </div>
   </div>
</div>
{% else %}
{% if products %}
   <div class="container">
      <div class="stepwizard ">
         <div class="stepwizard-row setup-panel">
            <div class="col-md-4 col-sm-12 stepwizard-step">
               <a href="#step-1" type="button" class="btn btn-primary step_btn">
                  <h4>Récapitulatif de la commande</h4>
               </a>

            </div>
            <div class="col-md-4 col-sm-12 stepwizard-step">
               <a href="#step-2" type="button" class="btn btn-default step_btn" disabled="disabled">
                  <h4>Adresse de livraison</h4>
               </a>

            </div>
            <div class="col-md-4 col-sm-12 stepwizard-step">
               <a href="#step-3" type="button" class="btn btn-default step_btn" disabled="disabled">
                  <h4>Paiement</h4>
               </a>

            </div>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="row setup-content" id="step-1"> 
         <div class="tabindex">
            <div class="container cart-form-product">
               <div class="row">
                  <div class="col-md-12 col-sm-12 table_text">
                     <div class="table-responsive table_text1">
                        <table id="mytable" class="table table-bordred table-striped table_data1">
                           <thead>
                              <th class="cart_data1">Produit</th>
                              <th class="cart_data2">La description</th>
                              <th class="cart_data4">Prix</th>
                              <th class="cart_data5">Quantité</th>
                              <th class="cart_data6"></th>
                              <th class="cart_data7">Total</th>
                           </thead>
                           <tbody>
                              {% for product in products %}
                              <input type="hidden" value="{{ product.id }}" class="update_product_ID">
                              <tr>
                                 <td class="cart_img">
                                    <img src="{{product.product_image }}">
                                 </td>
                                 <td class="cart_desc">
                                    <h6>{{ product.product_name }} ({{ product.volume }}ml)</h6>
                                    <p>{{product.title|safe }}</p>
                                 </td>
                                 <td>
                                    <p class="text_text5 selling_price payment_selling_price" id="selling_price_{{ forloop.counter }}">
                                       {{ product.selling_price }} </p><span class="euro_span_text">€</span>
                                 </td>
                                 <td><input readonly id="quantity_box_{{ forloop.counter }}" onchange="totalAmount()" class="quantity_update_{{ product.id }} quantity_box btn btn_textbtn1" name="quantity" value="{{ product.quantity }}" min="1" max="{{ product.quantity }}"><br>   
                                    <button  type="button" class="btn btn_textbtn2 payment_quantity_change" onclick="sub_quantity({{ forloop.counter }}, {{ product.selling_price }})"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                    <button  type="button" class="btn btn_textbtn3 payment_quantity_change" onclick="add_product({{ forloop.counter }}, {{ product.selling_price }})"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                 </td>
                                 <td><a class="remove_product" href="javascript:;" onclick="openDeleteModal({{ product.id }})"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                 
                                 <td>
                                  
                                  <p id="single_product_total_{{ forloop.counter }}" class="price_t total_amount_product">{{ product.product_total }} </p>
                                 </td>
                              </tr>
                              {% endfor %}
                              <tr>
                                 <td class="text_text5" rowspan="2" colspan="1">
                                   
                                 </td>
                                 <td class="text_text5" rowspan="2" colspan="2">
                                    <div style="float: right;">
                                       <button type="button" onclick="show_quantity_button()" class="btn btn-primary payment_update_quantity">Update Quantity</button>
                                       <button type="button" onclick="updateProductOrder()" class="btn btn-primary payment_update_button" style="display: none">Update</button>
                                       <a type="button" href="javascript:location.reload(true)" class="btn btn-primary payment_cancel_button" style="display: none;background-color: brown">Cancel</a>
                                    </div>
                                 </td>
                                 <td colspan="2">
                                    <p class="TTC_p">Total produits:</p>
                                 </td>
                                 <td colspan="2">
                                    <p class="TTC_p1 total_product" style="text-align: center;"></p>
                                 </td>
                              </tr>
                              <tr>
                                 <td class="text_col" colspan="2">
                                    <p class="TTC_p2"><b>Total</b></p>
                                 </td>
                                 <td colspan="2">
                                    <p class="TTC_31 totalAmount" name="total" value="">{{ total }}<span >€</span></b></p>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <!-- <div><button onclick="updateProductOrder()" type="button" class="btn btn-primary">Update</button></div> -->
                        <div style="margin-bottom: 5%"> <button class="btn btn-primary nextBtn btn-lg btn-default_BTN_1  pull-right" type="button" value="first">Prochain</button>
                        </div>
                       
                     </div>
                  </div>
               </div>
            </div>

            {% else %}
            <div class="container">
                  <div class="empty_cart_image">
                     <img src="{% static 'images/emptycart.png' %}">
                  </div>
                  <div class=" col-md-12 voter_data">
                     <p>Le panier est vide</p>
                  </div>
               </div>
            {% endif %}
         </div>

      </div>
      <form class="cmxform" id="commentForm"action="{% url 'nm_marketplace_charge' %}" method="post" onsubmit="return allNextBtn()">
      <div class="row setup-content" id="step-2" style="margin-top:4%; margin-bottom:8%">
            {% csrf_token %}
            
            <div class="row shipping-address-added" {% if not other_info.shipping_address %}style="display:none"{% endif %}>
               <div class="row">
               <div class="col-md-2 col-sm-12"></div>
               <div class="col-md-8 col-sm-12 added_shipping_address">
                  <h2 style="margin-left: 5%;">Votre adresse de livraison stockée avec nous :</h2>                
                  <table class="shippingtable">
                        <tr >
                        <th>Prénom:</th>
                        <td>{{ other_info.shipping_address.first_name }} </td>
                        </tr>
                        <tr>
                        <th>Nom de famille:</th>
                        <td>{{ other_info.shipping_address.last_name }} </td>
                        </tr>
                        <tr>
                        <th>Adresse 1:</th>
                        <td>{{ other_info.shipping_address.address_line1 }} </td>
                        </tr>
                        <tr>
                        <th>Adresse Ligne 2:</th>
                        <td>{{ other_info.shipping_address.address_line2 }} </td>
                        </tr>
                        <tr>
                        <th>Pays:</th>
                        <td>{{ other_info.shipping_address.country }} </td>
                        </tr>
                        <tr>
                        <th>Etat:</th>
                        <td>{{ other_info.shipping_address.state }} </td>
                        </tr>
                        <tr>
                        <th>Ville:</th>
                        <td>{{ other_info.shipping_address.city }} </td>
                        </tr>
                        <tr>
                        <th>Code postal:</th>
                        <td>{{ other_info.shipping_address.post_code }} </td>
                        </tr>
                        <tr>
                        <th>Numéro de téléphone:</th>
                        <td>{{ other_info.shipping_address.phone_number }} </td>
                        </tr>
                        <tr>
                        <th>Email:</th>
                        <td>{{ other_info.shipping_address.email }} </td>
                        </tr>           
                  </table>
               </div>
               <div class="col-md-2"></div>
            </div>
               <div class="row" style="margin-left: 3%;">
                     <div class="col-md-2 col-sm-12"></div>
                     <div class="col-md-8 col-sm-12">
                        <p><input class="change_address_button" name="checkbox" type="checkbox" id="checkbox" value="scheckbox"><span>Voulez-vous changer cette adresse ?</span></p>
                     </div>
                     <div class="col-md-2 col-sm-12"></div>
                  </div>
            </div>
           
         <div class="shippingcontainer" id="showthis" name="showthis" {% if other_info.shipping_address %}style="display:none"{% endif %}>
            <div class="form_main">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12 col-sm-12">
                        <div class="row">
                           <div class="col-md-2 col-sm-12"></div>
                           <div class="form-group col-md-8 col-sm-12 bg-primary">
                              <label class="control-label" for="billinginformation">Informations sur la livraison</label>
                           </div>
                           <div class="col-md-2"></div>
                     </div>
                     </div>
                     <div class="row">
                     <div class="shipping-info shipping-info-form ">
                        <div class="row">
                        <div class="col-md-2 col-sm-12"></div>
                        <div class="form-group col-md-4 col-sm-12 form_data_2">
                           <span class="required-lbl">* </span><label class="control-label" for="firstname">Prénom</label>
                           <div class="controls">
                              <input id="firstname" name="firstname" type="text" placeholder="Prénom" class="form-control"
                                 required>
                           </div>
                        </div>

                        <div class="form-group col-md-4 col-sm-12 form_data_2">
                           <span class="required-lbl">* </span><label class="control-label" for="lastname">Nom de famille</label>
                           <div class="controls">
                              <input id="lastname" name="lastname" type="text" placeholder="Nom de famille" class="form-control"
                                 required>
                           </div>
                        </div>
                        <div class="col-md-2"></div>
                     </div>
                     <div class="row">
                        <div class="col-md-2"></div>
                        <div class="form-group col-md-4 col-sm-12 form_data_2">
                           <span class="required-lbl">* </span><label class="control-label"
                              for="shippingaddress1">Adresse 1</label>
                           <div class="controls">
                              <input id="shippingaddress1" name="shippingaddress1" type="text" placeholder="Adresse 1"
                                 class="form-control" required>
                           </div>
                        </div>

                        <div class="form-group col-md-4 col-sm-12 form_data_2">
                           <span class="required-lbl"> </span><label class="control-label" for="shippingaddress2">Adresse Ligne 2</label>
                           <div class="controls">
                              <input id="shippingaddress2" name="shippingaddress2" type="text" placeholder="Adresse Ligne 2"
                                 class="form-control">
                           </div>
                        </div>
                        <div class="col-md-2 col-sm-12"></div>
                     </div>
                     <div class="row"> 
                        <div class="col-md-2 col-sm-12"></div>
                        <div class="col-md-4 col-sm-12">
                              <span class="required-lbl">* </span><label class="control-label" for="shippingCountry">Pays</label>
                           <select name="country" class="countries" id="countryId" required>
                                 <option value="">Choisissez le pays</option>
                           </select>
                        </div>
                        <div class="col-md-4 col-sm-12">
                           <span class="required-lbl">* </span><label class="control-label" for="shippingState">Etat</label>
                           <select name="state" class="states" id="stateId" required>
                                 <option value="">Sélectionnez l'état</option>
                           </select>
                        </div>
         
                     </div>
                                         
                     <div class="clearfix"></div>
                     <div class="row">
                        <div class="col-md-2"></div>
                        <div class="form-group col-md-4 col-sm-12 form_data_2">
                           <span class="required-lbl">* </span><label class="control-label" for="shippingcity">Ville</label>
                           <div class="controls">
                                 <select name="city" class="cities" id="cityId" required>
                                       <option value="">Sélectionnez une ville</option>
                                   </select>
                           </div>
                        </div>

                        <div class="form-group col-md-4 col-sm-12 form_data_2">
                           <span class="required-lbl">* </span><label class="control-label" for="postcode">Code postal</label>
                           <div class="controls">
                              <input id="postcode" name="postcode" type="text" placeholder="Code postal" class="form-control"
                                 required>
                           </div>
                        </div>
                        <div class="col-md-2"></div>
                     </div>
                     <div class="row">
                           <div class="col-md-2"></div>
                        <div class="form-group col-md-4 col-sm-12 form_data_2">
                           <span class="required-lbl">* </span><label class="control-label" for="phone_no">Numéro de téléphone</label>
                           <div class="controls">
                              <input id="phone_no" name="phone" type="text" placeholder="Numéro de téléphone" class="form-control"
                                 required>
                           </div>
                        </div>
                        <div class="form-group col-md-4 col-sm-12 form_data_2">
                           <span class="required-lbl">* </span><label class="control-label" for="email">Email</label>
                           <div class="controls">
                              <input id="email" name="email" type="email" placeholder="Email" class="form-control email-input"
                                 required>
                           </div>
                          
                        </div>
                        <div class="col-md-2 col-sm-12"></div>
                        </div>
                     </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
        
         <div class="row">
            <div class="col-md-8 col-sm-12"></div>
            <div class="col-md-2 col-sm-12">
              
               <button type="button" class="button_next_shipping btn btn-default_BTN_1 nextBtn btn-lg pull-right " value="second">Prochain</button>
            </div>
            <div class="col-md-2 col-sm-12"></div>
         </div>
      </div>
  
   <div class="row setup-content" id="step-3" style="text-align: center;">
      <div class="col-12 payment_top_div" style="margin-bottom:8%;">
            <h2>Effectuer le paiement</h2>
            <input type="hidden" name="amount" value="{{ total }}">
            <input type="hidden" id="payment_order_id" name="order_id" value="{{ other_info.order_id }}">
            <input type="hidden" name="doctor_id" value="{{ other_info.doctor_id }}">
            <input type="hidden" name="customer_id" value="{{ other_info.customer_id }}">
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ key }}"
               data-description="Next Motion" data-amount="{{ total_for_payment }}" data-locale="auto"
               data-label="Pay Using Stripe" data-currency="eur">
            </script>

      </div>
   </div>
</form>
</div>
<!-- modal for confirmation -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal">
   Launch demo modal
 </button> -->
 <div style="display: none" class="loader-body">
</div>
 <!-- Modal -->
 <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
   aria-hidden="true" style="z-index: 2000;"> 
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
          <h4 style="display: inline;">Confirm</h4>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
          <input type="hidden" id="product_delete_id">
          <h4>Product deleted once cannot be retrieved</h4>
            <p>Are you sure you want to delete this product?</p>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
         <button onclick="deleteProductOrder()" type="button" class="btn btn-danger confirm_delete">Yes</button>
       </div>
     </div>
   </div>
 </div>
<!-- end modal -->
{% endif %}
<script>
   
$(document).ready(function(){
   var all_quantities =$('.quantity_box');
   var count = all_quantities.length;
   var total=0;
   for(i=0;i<count;i++){
      total= total+(parseFloat(all_quantities[i].value));  
      
   }
   $('.total_product').text(total);
});
function sub_quantity(counter, price){
       var old_value =$('#quantity_box_'+counter).val();
       if (old_value > 1){
           var new_value = (old_value-1);
           var new_total = (new_value*price).toFixed(1);
           $('#quantity_box_'+counter).val(new_value);
           $('#single_product_total_'+counter).text(new_total);
           total_quantity();
       }
   }
   function add_product(counter, price){
       var old_value =$('#quantity_box_'+counter).val();
       var new_value = (parseFloat(old_value)+1);
       var new_total = (parseFloat(new_value*price)).toFixed(1);
       $('#quantity_box_'+counter).val(new_value);
       $('#single_product_total_'+counter).text(new_total);
       total_quantity();
   }
   function total_quantity(){
       var all_quantities =$('.quantity_box');
       var count = all_quantities.length;
       var total=0;
       var totalAmount =0;
       var total_amount=$('.total_amount_product');
       for(i=0;i<count;i++){
           total= total+(parseFloat(all_quantities[i].value));
           totalAmount=totalAmount+(parseFloat(total_amount[i].textContent));
       }
       $('.total_product').text(total);
       $('.totalAmount').text(totalAmount.toFixed(1));
   }
   function openDeleteModal(id){
      $('#product_delete_id').val(id)
      $('#basicExampleModal').modal('show');
   }
   function deleteProductOrder(){
      var product_id = $('#product_delete_id').val();  
      var order_id = $('#payment_order_id').val();
      data = {'product_id':product_id,'order_id':order_id,'csrfmiddlewaretoken':'{{ csrf_token }}'}
      $(".loader-body").show();
      $.ajax({
         url: '/cart/payment/',
         type: 'POST',
         data: data,                 
         success: function(res){
            if (res.message == 'success'){
            $('#basicExampleModal').modal('hide');
            window.location.reload();

            }else{
               $('#basicExampleModal').modal('hide');
               window.location.reload();
            }
         }
      });
   }

   function updateProductOrder(){
      var product_id = $('.update_product_ID');
      var order_id = $('#payment_order_id').val();
      counter = product_id.length;
      var total=0
      var param =[]
      for(i=0;i<counter;i++){
         var quantity = $('.quantity_update_'+product_id[i].value).val();
         param[i] = {'quantity':quantity,'order_id':order_id,'product_id':product_id[i].value}
         
      }
      $(".loader-body").show();
      var dataString=JSON.stringify(param)
      data = {dataString,'csrfmiddlewaretoken':'{{ csrf_token }}'}
      $.ajax({
         url: '/cart/update_product/',
         type: 'POST',
         data: data,                 
         success: function(data){
            location.reload()
            if (data.message == 'success'){
               
            }
         }
      });
   }

//    
 function show_quantity_button (){
    $('.payment_quantity_change').show()
    $('.payment_update_quantity').hide()
    $('.payment_update_button').show()
    $('.payment_cancel_button').show()


 }
 
</script>
{% endblock content %}