
{% if products %}
{% for product in products %}
<div class=" col-md-4 card_container">
    <div class="card">
        <a href="{% url 'nm_marketplace_single_product' product.id %}">
        <img src="{{ product.product_image }}" style="width:100%;height: 255px">
        </a>
        <h1 class="card-content">{{ product.product_name }} ({{ product.volume }}ml)</h1>
        <p class="price"><span class="text_price">{{ product.selling_price }} € TTC</span></p>
        <!-- <p><span class="quantity_home">
                <button  type="button" class="btn btn_textbtn2_card" onclick="sub_quantity({{ forloop.counter }}, {{ product.selling_price }})"><i class="fa fa-minus" aria-hidden="true"></i></button>
                <input readonly id="quantity_box_{{ forloop.counter }}" onchange="totalAmount()" class="quantity_box quantity_{{ product.id }} btn btn_textbtn1_card" name="quantity" value="1" min="1" max="{{ product.product.quantity }}">
                <button  type="button" class="btn btn_textbtn3_card" onclick="add_product({{ forloop.counter }}, {{ product.selling_price }})"><i class="fa fa-plus" aria-hidden="true"></i></button>
            </span>
            <button type="button" onclick="addToCart({{ product.id }})" class="btn_card_product card_button">Add To Cart</button>
        </p> -->
        <div class="row">
            <div class="col-md-5 quantity_home">
                <button  type="button" class="btn btn_textbtn2_card" onclick="sub_quantity({{ forloop.counter }}, {{ product.selling_price }})"><i class="fa fa-minus" aria-hidden="true"></i></button>
                <input readonly id="quantity_box_{{ forloop.counter }}" onchange="totalAmount()" class="quantity_box quantity_{{ product.id }} btn btn_textbtn1_card" name="quantity" value="1" min="1" max="{{ product.product.quantity }}">
                <button  type="button" class="btn btn_textbtn3_card" onclick="add_product({{ forloop.counter }}, {{ product.selling_price }})"><i class="fa fa-plus" aria-hidden="true"></i></button>
            </div>
            <div class="col-md-7">
                <button type="button" onclick="addToCart({{ product.id }})" class="btn_card_product card_button">Ajouter au chariot</button>
            </div>
        </div>
       
       
    </div>
</div>
{% endfor %}
{% else %}
<div class="no_products">
    <h4>No products found !!!</h4>
</div>
{% endif %}